<div class="bs-docs-section">
  <h1 class="page-header">
    <%= @language.name %> Word By Word Data Proofreading
  </h1>

  <p class="lead">
    User filters to find ayah you're looking for, click on <code>Contribute</code> button to add start proofreading
    specific ayah
  </p>

  <div class="bs-example">
    <div class="filters row">
      <div class="col-lg-12">
        <%= form_tag wbw_translations_path(language: params[:language_id]), method: :get, class: 'form-inline' do %>
          <div class="form-group">
            <%= select_tag :filter_juz, options_for_select(1..30, params[:filter_juz]), include_blank: true, class: 'form-control', data: {placeholder: 'Filter by para'} %>
            <p class="help-block">Filter by Para</p>
          </div>

          <div class="form-group">
            <%= select_tag :filter_chapter, options_for_select(1..114, params[:filter_chapter]), include_blank: true, class: 'form-control', data: {placeholder: 'Filter by surah'} %>
            <p class="help-block">Filter by Surah</p>
          </div>

          <div class="form-group">
            <%= select_tag :filter_verse, options_for_select(1..256, params[:filter_verse]), include_blank: true, class: 'form-control', data: {placeholder: 'Filter by surah'} %>
            <p class="help-block">Filter by Ayah</p>
          </div>

          <!-- Don't need this for now
          <div class="form-group">
            <%#= select_tag :filter_progress, options_for_select([['Ayah with missing wbw translation', 'missing'], ['Ayah with full translation', 'completed'], ['Ayah with approved translation', 'approved'],['All ayah', 'all']], params[:filter_progress]), class: 'form-control', data: { placeholder: 'Filter by progress' } %>
            <p class="help-block">Filter by Ayah progress</p>
          </div>
          -->

          <div class="form-group">
            <%= submit_tag 'Filter', class: 'btn btn-success', data: {disable_with: 'Please wait..'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <figure class="highlight">
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= sort_order_link 'Ayah key', :verse_key %></th>
        <th>Progress</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @verses.each do |verse| %>
        <tr>
          <th scope="row"><%= verse.verse_key %></th>

          <%
            progress = if params[:language_id] == 174
                         verse.urdu_wbw_translation_progress
                       else
                         verse.chinese_wbw_translation_progress
                       end
          %>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em;width: <%= progress %>%;">
                <%= progress %>%
              </div>
            </div>
          </td>

          <td class="indopak">
            <%= verse.text_indopak %>
          </td>

          <td>
            <%= link_to 'Show', wbw_translation_path(verse.id, language_id: params[:language_id]), class: 'btn btn-success' %>
            <%= link_to 'Contribute', new_wbw_translation_path(ayah: verse.id, language_id: params[:language_id]), class: 'btn btn-success' %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="4">
          <%= paginate @verses, theme: 'twitter-bootstrap-3' %>
        </td>
      </tr>
      </tbody>
    </table>
  </figure>
</div>


