<div class="row" id="editor-wrap">
  <div class="bs-callout bs-callout-info alert alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2>﷽ </h2>
    <h4>
      Ayah: <%= @verse.verse_key %>
      <span class="indopak"> سورہٴ <%= @verse.chapter.name_arabic %></span>.
    </h4>
  </div>

  <div class="col-md-12">
    <b>Text Indopak</b>
    <p class="indopak" id="ayah_text"><%= @verse.text_indopak %> </p>
  </div>

  <div class="col-md-12">
    <b>Text madani</b>
    <p class="madani" id="ayah_text"><%= @verse.text_madani %> </p>
  </div>

  <div class="col-md-12">
    <b>Text Imlaei</b>
    <p class="madani" id="ayah_text"><%= @verse.text_imlaei %> </p>
  </div>

  <div class="col-md-12">
    <% @verse.translations.each do |trans| %>
      <b><%= trans.resource_name %></b>
      <p class="urdu" id="ayah_text"><%= trans.text.html_safe %> </p>
    <% end %>
  </div>

  <div class="col-md-12">
    <%= form_for @verse, url: wbw_translations_path(verse_id: @verse.id), method: :post, html: {class: 'form', autocomplete: 'off'} do |form| %>
      <div id="words">
        <%= form.fields_for :wbw_translations, @wbw_translations do |trans_form| %>
          <%= trans_form.hidden_field :word_id %>
          <%= trans_form.hidden_field :language_id, value: 174 %>
          <%# I know, i know. Its private app. So no problem exposing user id %>
          <%= trans_form.hidden_field :user_id, value: current_user.id %>

          <div class="well">
            <p>
              Word# <%= trans_form.object.location %> (word type: <b><%= trans_form.object.char_type_name %> </b>: <span class="madani"><%= trans_form.object.text_imlaei %></span>)
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <%= trans_form.text_field :text_madani, class: 'form-control madani' %>
                  <p class="help-block">
                    Text Madani.
                  </p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= trans_form.text_field :text_indopak, class: 'form-control indopak' %>
                  <p class="help-block">
                    Text Indopak
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <% ur = trans_form.object.text.presence || trans_form.object&.word&.ur_translation&.text %>
                  <%= trans_form.text_field :text, value: ur, class: 'form-control urdu' %>
                  <p class="help-block">
                    <%= trans_form.object.en_translation&.text %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.submit "Save ayah", class: 'btn btn-success', data: {disable_with: 'Please wait...'} %>
      </div>
    <% end %>
  </div>
</div>

