<div class="bs-docs-section transliteration">
  <h1 class="page-header">
    <%= @resource.name %>
  </h1>

  <p class="lead">
    Use filters to find ayah you're looking for, click on <code>Fix</code> button to fix any issue in translation or
    footnote.
  </p>

  <div class="bs-example">
    <div class="filters row">
      <div class="col-lg-12">
        <%= form_tag translation_proofreadings_path, method: :get, class: 'form-inline' do %>
          <div class="form-group">
            <%= hidden_field_tag :resource_id, @resource.id %>
            <%= select_tag :filter_chapter, options_for_select(1..114, params[:filter_chapter]), include_blank: true, class: 'form-control', data: {placeholder: 'Filter by surah'} %>
            <p class="help-block">Filter by Surah</p>
          </div>

          <div class="form-group">
            <%= select_tag :filter_verse, options_for_select(1..114, params[:filter_verse]), include_blank: true, class: 'form-control', data: {placeholder: 'Filter by surah'} %>
            <p class="help-block">Filter by Ayah</p>
          </div>

          <div class="form-group">
            <%= submit_tag 'Filter', class: 'btn btn-success', data: {disable_with: 'Please wait..'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <figure class="highlight">
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= sort_order_link 'Ayah key', :verse_key, resource_id: @resource.id %></th>
        <th>Footnotes</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @translations.each do |translation| %>
        <tr>
          <th scope="row"><%= translation.verse.verse_key %></th>

          <td>
            <%= translation.foot_notes.size %>
          </td>

          <td>
            <%= translation.text.html_safe %>
          </td>

          <td>
            <%= link_to 'Show', translation_proofreading_path(translation.verse_id, resource_id: @resource.id), class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_translation_proofreading_path(translation.verse_id, resource_id: @resource.id), class: 'btn btn-success' %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="4">
          <%= paginate @translations, theme: 'twitter-bootstrap-3' %>
        </td>
      </tr>
      </tbody>
    </table>
  </figure>
</div>


