<h2 class="page-header">Active projects</h2>
<section>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(https://i.ytimg.com/vi/RhjzXj1AQBE/hqdefault.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Surah Info </h5>
            <h3 class="card-title pt-2"><strong>English Surah Info Proofreading</strong></h3>
            <p>
              Proofreading of Surah info for English language. JazakAllah kahrain for your help.
            </p>

            <%= link_to surah_infos_path(language_id: 38), class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(http://static.quran.com/urdu_transliteration/1.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Transliteration </h5>
            <h3 class="card-title pt-2"><strong>Arabic/Urdu Transliteration</strong></h3>
            <p>
              Transliteration but in Arabic. Hopefully this will help people reading Quran, anyone with basic knowledge of Arabic alphabits and their sound can read Quran using this data inshAllah.
              Typing Arabic is hard, and we're talking about typing WHOLE QURAN. This is tough task but with the help of Allah subhan wa tallah and some contributors we can finish this task in few weeks.
              Help us completing this great project!
            </p>
            
            <%= link_to arabic_transliterations_path, class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(https://i.ytimg.com/vi/RhjzXj1AQBE/hqdefault.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Urdu WBW Data </h5>
            <h3 class="card-title pt-2"><strong>Word by word Translation Proofreading</strong></h3>
            <p>
              Proofread Word by Word Urdu translation, also make sure word by word Indopak and Usmani Script is correct
            </p>

            <%= link_to wbw_translations_path(language_id: 174), class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute to Urdu wbw
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(https://i.ytimg.com/vi/RhjzXj1AQBE/hqdefault.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Chines WBW Data </h5>
            <h3 class="card-title pt-2"><strong>Word by word Translation Proofreading</strong></h3>
            <p>
              Proofread Word by Word Chinese translation, JazakAllah kharain for your contribution.
            </p>

            <%= link_to wbw_translations_path(language_id: 185), class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute to Chinese Wbw
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(https://i.ytimg.com/vi/RhjzXj1AQBE/hqdefault.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Urdu Quran Text </h5>
            <h3 class="card-title pt-2"><strong>Word by word Quran text proofread</strong></h3>
            <p>
              Proofread Word by Word indopak, uthmani script and pause marks
            </p>

            <%= link_to wbw_texts_path, class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(https://i.ytimg.com/vi/RhjzXj1AQBE/hqdefault.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Italian translation </h5>
            <h3 class="card-title pt-2"><strong>Italian translation proofread</strong></h3>
            <p>
              Proofreading of Hamza Roberto Piccardo's translation
            </p>

            <%= link_to translation_proofreadings_path(resource_id: 153), class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(https://i.ytimg.com/vi/RhjzXj1AQBE/hqdefault.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Uzbek translation </h5>
            <h3 class="card-title pt-2"><strong>Muhammad Sodik Muhammad Yusuf</strong></h3>
            <p>
              Proofreading of Muhammad Sodik Muhammad Yusuf's Uzbek translation
            </p>

            <%= link_to translation_proofreadings_path(resource_id: 55), class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url(https://i.ytimg.com/vi/RhjzXj1AQBE/hqdefault.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-book"></i> Ubzek WBW translation </h5>
            <h3 class="card-title pt-2"><strong>Ubzek word by word translation proofread</strong></h3>
            <p>
              Proofreading of Uzbek word by word translation.
            </p>

            <%= link_to wbw_translations_path(language_id: 175), class: 'btn btn-success' do %>
              <i class="fa fa-heart left"></i>
              Contribute
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
